<div class="container-fluid">
    <div class="page-header"><h2>Shopping Cart</h2></div>
    <p  class="alert alert-warning" ng-if="vmCartController.cart.getItemList().length === 0">No items in your cart.</p>
    <div class="row" ng-if="vmCartController.cart.getItemList().length > 0">
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vmCartController.cart.getItemList()">
                            <td style="width: 100px; max-width: 100px;"><img ng-src="{{item.product.image}}" class="img-responsive"/></td>
                            <td>{{item.product.name}}</td>
                            <td class="text-right">${{item.product.price}}</td>
                            <td ng-init="quantity = item.quantity">
                                <input type="number" min="1" class="form-control pull-right" ng-model="quantity" ng-change="vmCartController.cart.updateItemQuantity(item, quantity)"/>
                            </td>
                            <td class="text-right">{{vmCartController.getItemTotal(item) | currency:'$':2}}</td>
                            <td class="text-right">
                                <a ng-click="vmCartController.cart.removeItem(item)"><i class="fa fa-times fa-lg text-danger"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-show="vmCartController.cart.getDiscount() > 0">
                            <th colspan="4">Sub Total</th>
                            <td class="text-right text-error">{{vmCartController.cart.getCartTotal() - vmCartController.cart.getDiscount() | currency:'$':2}}</td>
                            <td></td>
                        </tr>
                        <tr ng-show="vmCartController.cart.getDiscount() > 0">
                            <th colspan="4">Discount</th>
                            <td class="text-right text-danger"><b>- {{vmCartController.cart.getDiscount() | currency:'$':2}}</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="4">Grand Total</th>
                            <td class="text-right text-success fs-h4">{{vmCartController.cart.getCartTotal() | currency:'$':2}}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-offset-1 col-md-4 col-md-push-3 pb1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="enter coupon code"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="vmCartController.cart.applyCoupon()">Apply</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-offset-1 col-md-3 col-md-push-3 pb1">
                    <button class="btn btn-primary btn-block">Checkout <i class="fa fa-arrow-right"></i></button>
                </div>
                <div class="col-sm-12 col-md-3 col-md-pull-9 pb1">
                    <a href="#!/" class="btn btn-default btn-block"><i class="fa fa-arrow-left"></i> Continue Shopping</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Related Products</h4>
            <product-summary product="product" ng-repeat="product in vmCartController.relatedProductList | limitTo:2"></productSummary>
        </div>
    </div>
</div>
